sejours_linguistiques.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <!-- Définition des types de données -->
    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="date">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    
    <xs:simpleType name="dateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    
    <xs:simpleType name="positiveInteger">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Définition de l'élément racine -->
    <xs:element name="sejours_linguistiques">
        <xs:complexType>
            <xs:sequence>
                <!-- Définition des entités principales -->
                <xs:element name="clients" type="clientType" maxOccurs="unbounded"/>
                <xs:element name="accompagnateurs" type="accompagnateurType" maxOccurs="unbounded"/>
                <xs:element name="enseignants" type="enseignantType" maxOccurs="unbounded"/>
                <xs:element name="destinations" type="destinationType" maxOccurs="unbounded"/>
                <xs:element name="types_de_public" type="typeDePublicType" maxOccurs="unbounded"/>
                <xs:element name="types_de_sejours" type="typeDeSejourType" maxOccurs="unbounded"/>
                <xs:element name="cours_de_langue" type="coursDeLangueType" maxOccurs="unbounded"/>
                <xs:element name="tests_de_langue" type="testDeLangueType" maxOccurs="unbounded"/>
                <xs:element name="activites_sportives_culturelles" type="activiteType" maxOccurs="unbounded"/>
                <xs:element name="dates_proposees" type="dateProposeeType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Définition des types complexes pour chaque entité -->
    
    <xs:complexType name="clientType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="prenom" type="nonEmptyString"/>
            <xs:element name="adresse" type="nonEmptyString"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="age" type="positiveInteger"/>
            <xs:element name="sexe">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:choice>
                        <xs:enumeration value="male"/>
                        <xs:enumeration value="female"/>
                    </xs:choice>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nationalite" type="xs:string"/>
            <xs:element name="dateDeNaissance" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="accompagnateurType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="prenom" type="nonEmptyString"/>
            <xs:element name="adresse" type="nonEmptyString"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="age" type="positiveInteger"/>
            <xs:element name="sexe">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:choice>
                        <xs:enumeration value="male"/>
                        <xs:enumeration value="female"/>
                    </xs:choice>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="enseignantType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="prenom" type="nonEmptyString"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="langue" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="specialite" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="destinationType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="pays" type="nonEmptyString"/>
            <xs:element name="ville" type="nonEmptyString"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="typeDePublicType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="typeDeSejourType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="coursDeLangueType">
        <xs:sequence>
            <xs:element name="langue" type="xs:string"/>
            <xs:element name="niveau" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="testDeLangueType">
        <xs:sequence>
            <xs:element name="langue" type="xs:string"/>
            <xs:element name="niveau" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="activiteType">
        <xs:sequence>
            <xs:element name="nom" type="nonEmptyString"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="duree" type="xs:string" use="optional"/>
    </xs:complexType>
    
    <xs:complexType name="dateProposeeType">
        <xs:sequence>
            <xs:element name="debut" type="date"/>
            <xs:element name="fin" type="date"/>
            <xs:element name="nb_places_disponibles" type="positiveInteger"/>
        </xs:sequence>
        <xs:attribute name="lieu" type="nonEmptyString" use="optional"/>
    </xs:complexType>
    
</xs:schema>
